<mat-form-field appearance="fill">
  <mat-label>Password</mat-label>
  <label>
    <input matInput [type]="hide ? 'password' : 'text'" required minlength="8" maxlength="15" [formControl]="passwordFormControl">
  </label>
  <mat-error *ngIf="passwordFormControl.hasError('pattern') && !passwordFormControl.hasError('required')">
    At least 8 characters, a uppercase letter, a lowercase letter, a number and a special in <strong>#?!@$%^&*-</strong>
  </mat-error>
  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </button>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Confirm</mat-label>
  <label>
    <input matInput [type]="hide ? 'password' : 'text'" required minlength="8" maxlength="10" [formControl]="confirmFormControl">
  </label>
  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
  </button>
</mat-form-field>
