<div>
  <section>
    <svg class="shrine-logo" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         width="48px" height="48px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve" fill="#000000" focusable="false">
      <g>
        <g>
          <path d="M17,2H7L2,6.62L12,22L22,6.62L17,2z M16.5,3.58l3.16,2.92H16.5V3.58z M7.59,3.5H15v3H4.34L7.59,3.5z
             M11.25,18.1L7.94,13h3.31V18.1z M11.25,11.5H6.96L4.69,8h6.56V11.5z M16.5,12.32 M12.75,18.09V8h6.56L12.75,18.09z"/>
        </g>
        <rect fill="none" width="24" height="24"/>
      </g>
    </svg>
    <h1>SHRINE</h1>
  </section>
  <form [formGroup]="emailLogin" (ngSubmit)="login()" class="login-input">
    <mat-form-field class="email" appearance="fill">
      <mat-label>Email</mat-label>
      <label>
        <input type="email" matInput [formControl]="email" placeholder="Ex. pat@example.com" required>
      </label>
      <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="email.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <P>
      <mat-form-field class="password" appearance="fill">
        <mat-label>Password</mat-label>
        <label>
          <input matInput [type]="hide ? 'password' : 'text'" required minlength="8" maxlength="15" [formControl]="password">
        </label>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="password.invalid">Please use a strong password</mat-error>
      </mat-form-field>
    </P>
    <P>
      <mat-form-field class="confirm" appearance="fill">
        <mat-label>Confirm</mat-label>
        <label>
          <input matInput [type]="hide ? 'password' : 'text'" required minlength="8" maxlength="15" [formControl]="confirm">
        </label>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error>Password doesn't match</mat-error>
      </mat-form-field>
    </P>
    <button mat-button type="submit" [disabled]="!emailLogin.valid">Submit</button>
    <button mat-button type="reset" [disabled]="!emailLogin.dirty">Cancel</button>
  </form>
</div>


