<mat-sidenav-container>
    <mat-sidenav class="shrine-sidenav" role="navigation" mode="side" opened>
      <svg class="shrine-logo-drawer"  xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="48px" height="48px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve" fill="#000000" focusable="false">
          <g>
          <g>
            <path d="M17,2H7L2,6.62L12,22L22,6.62L17,2z M16.5,3.58l3.16,2.92H16.5V3.58z M7.59,3.5H15v3H4.34L7.59,3.5z
               M11.25,18.1L7.94,13h3.31V18.1z M11.25,11.5H6.96L4.69,8h6.56V11.5z M16.5,12.32 M12.75,18.09V8h6.56L12.75,18.09z"/>
          </g>
          <rect fill="none" width="24" height="24"/>
        </g>
        </svg>
      <h1 class="shrine-title">SHRINE</h1>
      <mat-nav-list>
          <a mat-list-item href="#">Featured</a>
          <a mat-list-item href="#">Apartment</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-grid-list cols="4" gutterSize="10px" class="mat-grid-list">
        <mat-grid-tile>
          <img src="assets/weave-keyring.jpg" alt="resource not exist">
          <span>Weave keyring</span>
        </mat-grid-tile>
        <mat-grid-tile>
          <img src="assets/weave-keyring.jpg" alt="resource not exist">
          <mat-grid-tile-footer>Weave keyring</mat-grid-tile-footer>
        </mat-grid-tile>
        <mat-grid-tile>
          <img src="assets/weave-keyring.jpg" alt="resource not exist">
          <mat-grid-tile-footer>Weave keyring</mat-grid-tile-footer>
        </mat-grid-tile>
        <mat-grid-tile>
          <img src="assets/weave-keyring.jpg" alt="resource not exist">
          <mat-grid-tile-footer>Weave keyring</mat-grid-tile-footer>
        </mat-grid-tile>
        <mat-grid-tile>
          <img src="assets/weave-keyring.jpg" alt="resource not exist">
          <mat-grid-tile-footer>Weave keyring</mat-grid-tile-footer>
        </mat-grid-tile>
        </mat-grid-list>
    </mat-sidenav-content>
  </mat-sidenav-container>
